---
layout: default
---

<div class="archive">
  <h1 class="archive-title">Posts tagged: {{ page.tag }}</h1>

  <ul class="post-list">
    {% assign tagged_posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}
    {% for post in tagged_posts %}
      <li>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
